<h1 class="text-danger"><B>SPORADIC FLORA</B></h1>

<p class="text-success">SPORADICFLORA is all about plants,which is available locally.
    Anybody wants to share about the plants nearby their local place can upload the plant details
     and the pictures through this application .</p>
<p class="text-success">
    This  application is mainly  focusing to share the information about 
    the endangered species of plants nearby our village.</p>
    <p class="text-success"><u><b>Endangered species</b></u>, any species that is at risk of extinction because of 
    a sudden rapid decrease in its population or a loss of its critical habitat.
   Previously, any species of plant or animal that was threatened with extinction 
   could be called an endangered species. </p>

<p class="text-success">It's completely developed in MEAN Stack</p>

<p class="text-success"> Technology used: Angular, MongoDB, Express JS and Node Js</p>

