<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">List Plants</h1>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let plant of plants">
        <div class="card h-100">
          <img class="card-img-top" [src]="plant.plantUrl" alt="">
          <div class="card-body">
            <h4 class="card-title">
              <a [routerLink]="['view', plant._id]">{{ plant.plantName }}</a>
            </h4>
            <h5>{{ plant.plantLocation }}</h5>
            <p class="card-text">{{ plant.plantUses }}</p>
          </div>
        </div>
    </div>
  </div>